body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
nav .brand-logo {
  display: block;
  text-align: center;
  position: relative;
}
.input-field label {
  color: white;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: white;
} 

.input-field input[type=text]:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 #000;
}

input[type=text]:not(.browser-default) {
  border-bottom: 1px solid white;
  color: white;
}
input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid white;
  -webkit-box-shadow: 0 1px 0 0 white;
  box-shadow: 0 1px 0 0 white;
}
input[type=text]:not(.browser-default):focus:not([readonly]) + label {
  color: white;
}

.contenedor-form {
  padding: 3rem 0 1px 0;
  background-color: #039cf4;
}
.buscador i {
  width: 100%;
}
.error {
  color:white;
  margin-top: 3rem;
  text-align: center;
}
.resultado {
  margin-top: 3rem;
}
.resultado h2 {
  font-size: 1.6rem;
  text-align: center;
}
.resultado p {
  text-align: center;
  font-size: 1.4rem;
}
.resultado .temperatura {
  font-size: 1.8rem;
}